<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Employee Form</title>
</head>
<body>
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-6">Employee Form</h1>
    <hr class="mb-6 border-gray-300">

    <form action="#" th:action="@{/employees/save}" th:object="${employee}" method="POST" class="w-full max-w-lg">
        <!-- Hidden input to handle the update -->
        <input type="hidden" id="id" th:field="*{id}" />
        <!--------------------------------------->
        
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="firstName">First Name</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="firstName" type="text" th:field="*{firstName}" placeholder="First Name">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="lastName">Last Name</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="lastName" type="text" th:field="*{lastName}" placeholder="Last Name">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" th:field="*{email}" placeholder="Email">
        </div>
        <hr class="mb-6 border-gray-300">
        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Save Employee
            </button>
            <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" th:href="@{/employees/list}">
                Back to List
            </a>
        </div>
    </form>
</div>

</body>
</html>