<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Access Denied</title>
</head>
<body>
    <div class="max-w-md mx-auto mt-10">
        <h2 class="text-2xl font-bold mb-6 text-center text-red-500">Access Denied</h2>
        <p class="text-center mb-4">You do not have permission to access this page.</p>
        <div class="flex justify-center">
            <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" th:href="@{/}">Back to Home Page</a>
        </div>
    </div>
</body>
</html>
