<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Leaders Info</title>
</head>
<body>
    <div class="p-4">
        <h1 class="text-2xl font-bold">Leaders Info</h1>
        <p>Here you can find information about the company's leaders.</p>
        <hr>
    </div>
    <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline m-4" th:href="@{/}">Back to Home Page</a>
</body>
</html>
